<div class="photo_info">

   <img id="photo" src="{{img}}" />

   <div class="contPresDetails">

      <span class="fieldType">Nome:</span><span>{{nome}}</span>
      <span class="fieldType">Cognome:</span><span>{{cognome}}</span>
      <span class="fieldType">Data di nascita:</span><span>{{dataNascita}}</span>
      <span class="fieldType">Luogo di nascita:</span><span>{{cittaNascita}}</span>
      <span class="fieldType">Inizio mandato:</span><span>inizioMandato</span>


   </div>
   <!--
      <div id="lista" class="lista">
         <ul ><span class="span1 votazioni" >Votazioni:</span>
            <li><img id="freccia" src="Freccia.png"/>
               <span>Emendamento bla bla bla</span>
               <span>FAVOREVOLE</span>
            </li>
   
            <li><img id="freccia" src="Freccia.png"/>
               <span>Emendamento bla bla bla</span>
               <span>FAVOREVOLE</span>
            </li>
   
            <li><img id="freccia" src="Freccia.png"/>
               <span>Emendamento bla bla bla</span>
               <span>FAVOREVOLE</span>
            </li>
   
            <li><img id="freccia" src="Freccia.png"/>
               <span>Emendamento bla bla bla</span>
               <span>FAVOREVOLE</span>
            </li>
         </ul>
      </div>
   -->